html {
  display: flex;
  justify-content: center;
  height: 100%; 
  background-color: rgb(255, 243, 223);
}

body{
  display: flex;
  width: 100%;
  height: 800px;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #000000; */
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 800px;
  /* border: 1px solid #000000; */
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  /* border: 1px solid #000000; */
}

.setting{
  display: flex;
  height: 700px;
  width: 700px;
  align-self: center;
  justify-content: center;
}

.setting-info{
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
  align-self: center;
  font-size: 80px;
  font-weight: 800;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
}

.setting-key, .setting-octave{
  background-color: rgb(255, 243, 223);
  border: none;
  color: rgb(32, 4, 83);
  font-size: 80px;
  font-weight: 800;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
  margin-right: 20px;
}

.setting-key > option, .setting-octave > option {
  color: #000000;
  direction: rtl;
  font-size: 30px;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
  background-color: rgb(255, 243, 223);
}

#start{
  color: #000000;
  font-size: 80px;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
}

#start:hover{
  color: blue;
  cursor: pointer;
}

.key{margin-right: 10px;}

.key, .octave{
  background-color: rgb(255, 243, 223);
  border: none;
  align-self: flex-end;
  color: rgb(32, 4, 83);
  font-size: 25px;
  font-weight: 800;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.key > option, .octave > option {
  color: #000000;
  direction: rtl;
  font-size: 20px;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
  background-color: rgb(255, 243, 223);
}

.sheet{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  /* border: 1px solid #000000; */
}

.title{
  color: rgb(61, 19, 5);
  font-size: 80px;
  font-weight: 800;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  cursor: default;
}

.info{
  align-self: flex-end;
  color: rgb(61, 19, 5);
  font-size: 25px;
  font-weight: 800;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 140px;
  width: 100%;
  /* border: 1px solid #000000; */
}

.custom-select{
  display: flex;
  width: 140px;
  height: 80px;
  margin-top: 0px;
  /* border: 1px solid #000000; */
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

.setting-key:hover, .setting-octave:hover, .key:hover, .chord:hover, .octave:hover{
  opacity: 0.5;
  background-color: rgb(255, 224, 172);
  cursor: pointer;
}

.chord{
  /* border: 6px solid rgb(61, 19, 5); */
  border: none;
  flex: 1;
  background-color: rgb(255, 243, 223);
  color: rgb(32, 4, 83);
  font-size: 28px;
  font-weight: 800;
  text-align-last: right;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
}

.chord > option {
  color: #000000;
  direction: rtl;
  font-size: 20px;
  background-color: rgb(255, 243, 223);
}

.sec2{
  display: flex;
  justify-content: space-around;
  width: 1000px;
  /* border: 1px solid #000000; */
}

.button{
  color: rgb(61, 19, 5);
  font-size: 40px;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
}

.button:hover{
  font-size: 45px;
  cursor: pointer;
}

.idk{
  display: flex;
  align-items: center;
  justify-content: center;
}

.idk-text{
  font-size: 40px;
}

.idk-text:hover{
  font-size: 45px;
  cursor: pointer;
}

.vl {
  border-left: 6px solid #000000;
  height: 100%;
  margin-left: 12px;
}

.user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-label{
  background-color: rgb(255, 243, 223);
  border: none;
  color: rgb(61, 19, 5);
  font-size: 80px;
  font-weight: 800;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
}

.user-input{
  background-color: rgb(255, 243, 223);
  border: none;
  color: rgb(61, 19, 5);
  font-size: 80px;
  font-weight: 800;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
  width: 100%;

  text-align: center;
}

.user-input:focus{
  outline: none;
}

.user-info{
  align-self: flex-start;
  margin-right: 20px;
}